[submodule "deps/rapidjson"]
	path = deps/rapidjson
	url = https://github.com/miloyip/rapidjson.git
[submodule "deps/boost/asio"]
	path = deps/boost/asio
	url = https://github.com/boostorg/asio.git
[submodule "deps/kcoreaddons"]
	path = deps/kcoreaddons
	url = git://anongit.kde.org/kcoreaddons.git
